.board {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  flex-direction: column;
  background-image: url('image/board.jpg');
  background-size: cover;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  flex-direction: column;
}

.square {
  height: 30px;
}

.black-piece {
  height: 22px;
  margin: 4px;
  background-color: rgb(35, 35, 35);
  border-radius: 50%;
}

.white-piece {
  height: 22px;
  margin: 4px;
  background-color: rgb(229, 229, 229);
  border-radius: 50%;
}

.game-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  pointer-events: none;
  width: 50%;
  height: 50px;
  border: 1px solid black;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.548);
}
.game-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
body {
  background-color: #af762c;
}

.game-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 3px 1px;
  cursor: pointer;
  border-radius: 8px;
}
